QTreeView {
	background-color: #515151;
}

QTreeView {
    show-decoration-selected: 1;
}

QTreeView::item {
	background-color: #515151;
    border: 0px solid #d9d9d9;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

QTreeView::item:hover {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #383838, stop: 1 #383838);
    border: 0px solid #bfcde4;
}

QTreeView::item:selected {
    border: 0px solid #567dbc;
	color: #f2f2f2;	/* (245,245,245) */
}

QTreeView::item:selected:active,
QTreeView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #5f8ac1, stop: 1 #5f8ac1);
	color: #f2f2f2;
}

QTreeView::branch {
        background: palette(base);
}
/* zone to the left */
QTreeView::branch:has-siblings:!adjoins-item,
/* vertical zone between opened parent and its children */
QTreeView::branch:!adjoins-item,
QTreeView::branch:has-siblings:!adjoins-item,
QTreeView::branch:has-siblings:adjoins-item,
QTreeView::branch:!has-children:!has-siblings:adjoins-item ,
/* has children and closed: under the icon */
QTreeView::branch:closed:has-children:has-siblings,
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:open:has-children:has-siblings,
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:!has-children:!has-siblings:adjoins-item {
		background: #515151;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
		image: url(branch_closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
		image: url(branch_opened.png);
}